
server {

    listen 8248;
    server_name example.com;

    error_page 404 errorpages/404.html;

    allowed_methods GET POST;
    client_max_body_size 2560k;
    root ../website/html;

    location / {
        root ../website/html;
        autoindex off;
        index index.html;
        allowed_methods GET POST DELETE;
    }

    location /cgi-bin/ {
        root ../website/html;
        autoindex off;
        index index.html;
        allowed_methods GET POST;
    }

    location /images/ {
        allowed_methods GET;
        autoindex on;
    }

    location /images/uploads/ {
        allowed_methods GET POST DELETE;
        client_max_body_size 54k;
        autoindex on;
    }
}


# for testing multiple servernames
server {

    listen 127.0.0.1:8248;

    server_name koda.com www.koda.com;

    allowed_methods GET;
    root ../website/html/servernames/koda.com;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET;
    }
}

server {

    listen 127.0.0.1:8248;

    server_name koda.nl www.koda.nl;

    allowed_methods GET;
    root ../website/html/servernames/koda.nl;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET;
    }
}

server {

    listen 127.0.0.1:8248;

    server_name koda.ua www.koda.ua;

    allowed_methods GET;
    root ../website/html/servernames/koda.ua;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET;
    }
}
