server {

    listen 127.0.0.1:8248;

    server_name foo.org www.foo.org;

    error_page 404 403 402 401 err_40x.html;
    error_page 301 err_301.html;
    allowed_methods POST;
    root /Users/vvissche/Codam/projects/23_webserv/github/website/html/;

    location / {
        allowed_methods GET POST DELETE GET POST GET;
        root /Users/vvissche/Codam/projects/23_webserv/github/website/html/page;
        index test.html index.html;
    }

    location /documents/uploads/ {
        allowed_methods GET POST DELETE;
        return kees /bla;
    }

    location /documents/ {
        root /bla/bla/bla;
        allowed_methods POST DELETE;

        autoindex on;
        index 1index.html index.php;
        index index.html;
    }
}

server {

    listen 8248;
    server_name foo.com www.foo.com;

    error_page 404 index.html;
    error_page 301 test.html;
    allowed_methods GET POST;
    client_max_body_size 256k;

    location / {
        root /foo/bar;
        allowed_methods GET;
    }

    location /documents/uploads/ {
        allowed_methods GET POST DELETE;
        client_max_body_size 54k;
    }

    location /documents/ {
        root /for/block/loc;
        allowed_methods POST DELETE;

        index 1index.html index.php;
        index index.html;

        autoindex on;
    }
}
