server {

    listen 127.0.0.1:8248;

    server_name foo.org www.foo.org;

    error_page 404 403 402 401 custom_error/a404.html;
    error_page 301 err_301.html;
    allowed_methods GET POST;
    root ../website/html;

    location / {
        allowed_methods GET POST DELETE GET POST GET;
        autoindex on;
    }

    location /page {
        autoindex off;
        index test.html index.html;
    }

    location /documents/uploads/ {
        allowed_methods GET POST DELETE;
        return kees /bla;
    }

    location /documents/ {
        root ../website/html/documents;
        allowed_methods POST DELETE;

        autoindex on;
        index 1index.html index.php;
        index index.html;
    }
}

server {

    listen 8248;
    server_name foo.com www.foo.com;

    error_page 404 index.html;
    error_page 301 test.html;

    allowed_methods GET POST;
    client_max_body_size 256k;
    root ../website/html;

    location / {
        root ../website/html;
        allowed_methods GET;
    }

    location /documents/uploads/ {
        allowed_methods GET POST DELETE;
        client_max_body_size 54k;
    }

    location /documents/ {
        allowed_methods POST DELETE;

        index 1index.html index.php;
        index index.html;

        autoindex on;
    }
}
