server {
    listen 8080 9090 9100;
    server_name default.org www.default.org www2.default.org;
}

server {
    listen 8080 9090 9100;
    server_name second.org www.second.org www2.second.org;
}

server {
    listen 8080 9090 9100;
    server_name first.com www.first.com www2.first.com;
}

server {
    listen 8080 9090 9100;
    server_name second.com www.second.com www2.second.com;
}

server {
    listen 8080 9090 9100;
    server_name third.co.ca www.third.co.ca www2.third.co.ca;

    location / {
        root /root/website/html;
    }

    location /documents/example/ {
        root /website/html/documents/example/;
    }

    location /documents/example/test/ {
        root /website/html/documents/example/test/;
    }

    location /documents/ {
        root /website/html/documents;
    }

}
