#Setup the configuration file as follow:
#- / must answer to GET request ONLY
#- /put_test/* must answer to PUT request and save files to a directory of your choice
#- any file with .bla as extension must answer to POST request by calling the cgi_test executable
#- /post_body must answer anything to POST request with a maxBody of 100
#- /directory/ must answer to GET request and the root of it would be the repository YoupiBanane and if no file are requested, it should search for youpi.bad_extension files

server
{
    listen 127.0.0.1:8080;
    server_name youpi;
    client max body size: 100 mb;

    allowed_methods GET;
    root ../website/html;

    location / {
        root ../website/html;
        index index.html;
        allowed_methods GET;
         #autoindex on;
    }
    location /post_body/ {
         root ../website/html;
         allowed_methods POST;
    }

    location /directory/ {

    }
}


# listen + error pages + server name staan altijd in bovenste blok

# config fallback: (blok boven locations)
# (custom) error pages : staat in config

# default fallback: (hardcoded in hpp file)
# listen: 8080
# error pages: xxx
# allowed methods: all methods
# autoindex: off
# root: /website/html
# index: index.html
# client max body size: 1 mb
# return: lege string/false