  server

    {	     listen 0.0.0.0:8080;
    server_name localhost www.localhost;
    error_page 404 html/error-pages/404.html;
    allowed_methods GET POST;
    location / {
        root /website/html/;
        allowed_methods GET;
        index index.html; autoindex on;
    }

    location /uploads/ {
        root /website/html/;
        allowed_methods GET POST;
    }
    }
