server
{
    listen 0.0.0.0:8080;
    server_name localhost www.localhost;
    error_page 404 html/error-pages/404.html;
    allowed_methods GET POST;
    root ../website/html;

    location / {
        root ../website/html;
        index index.html;
        # allowed_methods POST;
        autoindex on;
    }

    location /uploads/ {
        root ../website/html;
     #   allowed_methods POST;
    }
}


# listen + error pages + server name staan altijd in bovenste blok

# config fallback: (blok boven locations)
# (custom) error pages : staat in config

# default fallback: (hardcoded in hpp file)
# listen: 8080
# error pages: xxx
# allowed methods: all methods
# autoindex: off
# root: /website/html
# index: index.html
# client max body size: 1 mb
# return: lege string/false