
server {

    listen 8080;
    server_name example.com;

    error_page 404 errorpages/404.html;

    allowed_methods GET POST;
    client_max_body_size 256k;
    root ../website/html;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET POST;
    }

    location /cgi-bin/ {
        root ../website/html;
        allowed_methods GET POST;
    }

    location /images/ {
        allowed_methods GET;
        autoindex on;
    }

    location /images/uploads/ {
        allowed_methods GET POST DELETE;
        client_max_body_size 54k;
        autoindex on;
    }

    location /can_post/ {
        allowed_methods POST;
        client_max_body_size 54k;
    }

    location /can_delete/ {
        allowed_methods DELETE;
    }

    location /can_get/ {
        allowed_methods GET;
        autoindex on;
    }

    location /cannot_post/ {
        allowed_methods DELETE GET;
        autoindex on;
    }

    location /cannot_delete/ {
        allowed_methods POST GET;
        autoindex on;
    }

    location /cannot_get/ {
        allowed_methods DELETE POST;
    }

    location /can_post_and_get/ {
        allowed_methods POST GET;
        autoindex on;
    }
    location /can_post_and_delete/ {
        allowed_methods DELETE POST;
    }
}

# for testing multiple servernames
server {

    listen 127.0.0.1:8248;

    server_name koda.com www.koda.com;

    allowed_methods GET;
    root ../website/html/servernames/koda.com;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET;
    }
}

server {

    listen 127.0.0.1:8248;

    server_name koda.nl www.koda.nl;

    allowed_methods GET;
    root ../website/html/servernames/koda.nl;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET;
    }
}

server {

    listen 127.0.0.1:8248;

    server_name koda.ua www.koda.ua;

    allowed_methods GET;
    root ../website/html/servernames/koda.ua;
    autoindex off;
    index index.html;

    location / {
        allowed_methods GET;
    }
}
