BasedOnStyle: 'LLVM'
IndentWidth: 8
UseTab: 'ForContinuationAndIndentation'
BreakBeforeBraces: 'Allman'
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: 'Empty'
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
AlignAfterOpenBracket: 'BlockIndent'
AlignConsecutiveAssignments: 'Consecutive'
AlignConsecutiveMacros: 'Consecutive'
AlignConsecutiveDeclarations: 'Consecutive'
AlignEscapedNewlines: 'Left'
AlignOperands: true
ColumnLimit: 120
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
AccessModifierOffset: 0
IndentAccessModifiers: true
Standard: c++03
